.dentist-detail-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center; /* Centra el texto y las imágenes */
  }
  
  .dentist-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  